<div id="products_wrap">
<h1>SHOP</h1>
<div id="first">
  <h3>PAGES</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/page/about">About us</a></li>
    <li><a href="/page/faqs">FAQs</a></li>
    <li><a href="/page/contact">Contact us</a></li>
    <li><a href="/page/privacy">Privacy policy</a></li>
    <li><a href="/page/terms">Terms and Conditions</a></li>
    <a href="/products/new" id="add_product">Add new Product</a>
  </ul>
</div>
  <ul id="product_list">
    <% @products.each do |product| %>
        <li>
         <a href="/products/<%= product.id %>">
         <img alt="<%= product.title %>" src="<%= product.image_url %>"></a>
         <a class ="title" href="/products/<%= product.id %>"><%= product.title %></a>
         <p><%= product.description.first(70) %></p>
        <span>Price: $<%= product.price %></span>
        <a href="/cart/<%= product.id %>" class="add"> Add To Cart</a>
        
    <% end %>
    </ul>
</div>